<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILotteryMachineService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPlayerService">
                    <security mode="Message">
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55325/LotteryService.svc/LotteryMachine"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILotteryMachineService"
                contract="ServiceReference.ILotteryMachineService" name="BasicHttpBinding_ILotteryMachineService" />
            <endpoint address="http://localhost:55325/LotteryService.svc/Player"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPlayerService"
                contract="ServiceReference.IPlayerService" name="WSDualHttpBinding_IPlayerService">
                <identity>
                    <userPrincipalName value="NIKOLAPC\nmari" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>